@import "./main";

.page_bg{
    width: 100%;
    min-height: 100%;
    background: url(../images/background_img.png);
    background: cover;
    .logo{
        width: pxToRem(392px);
        height: pxToRem(450px);
        margin-top: pxToRem(80px);
        margin-bottom: pxToRem(30px);
    }
    .login{
        margin: pxToRem(35px) pxToRem(50px);
        padding: pxToRem(40px);
        background: #91cdfc;
        border-radius: pxToRem(10px);
    }
    .uinput_buttom{
        border-radius: pxToRem(10px);
        overflow: hidden;
        background: #fff;
        border: 0;
        margin-bottom: pxToRem(35px);
    }
    .pos_img{
        position: relative; 
        .uinput input{
            padding: .4em;
        }
    }
    .pos_images{
        width: pxToRem(45px);
        height: pxToRem(45px);
        position: absolute;
        top: pxToRem(18px);
        right: pxToRem(20px);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .uinput_info{
        width: pxToRem(79px);
        height: pxToRem(79px); 
        img{
            width: pxToRem(45px);
            height: pxToRem(45px);
            margin-top:  pxToRem(20px);
        }       
    }
    .user_cols{
        background: #47e1fa;
    }
    .pwd_cols{
        background: #47aff9;
    }
    .btn{
        width: 100%;
        height: pxToRem(80px);
        line-height: pxToRem(80px);
        font-size: pxToRem(34px);
        border: 0;
        background: #3eb2ff;
        color: #fff;
        border-radius: pxToRem(10px);
        margin-top: pxToRem(15px);
    }
    .footer{
        color:#fff;
        font-size: pxToRem(34px);
        margin-top: pxToRem(60px);
    }
}